{% extends "index.html" %}
{% block title %}Редактировать запись{% endblock %}
{% block content %}
    <div class="uk-section-small uk-padding-remove-top">
        <h4 class="uk-text-uppercase">Редактировать запись</h4>
            <div class="uk-card uk-card-default uk-card-body">
            <form action="{% url 'journal:edit/write-down' write_down.id%}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="uk-button uk-button-primary" type="submit" value="Добавить" >
            </form>
        </div>
    </div>
{% endblock %}