{% extends "index.html" %}
{% block title %}Добавить выписку{% endblock %}
{% block content %}
    <div class="uk-section-small uk-section-muted uk-preserve-color">
        <div class="uk-container">
            <h4 class="uk-text-uppercase">Добавить выписку</h4>
            <div>
                <form action="{% url 'journal:add/write-out' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                  <input class="uk-button uk-button-primary" type="submit" value="Добавить" >
                </form>
            </div>
        </div>
    </div>
{% endblock %}