{% extends "index.html" %}
{% block title %}Дежурство{% endblock %}
{% block content %}
<table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Фамилия</th>
                <th>Диспетчерский круг</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}