<p>Записи СЦБ - <span
        class="uk-text-muted">c {{ duty_dt.start|date:"H:i d.m.Y" }} по {{ duty_dt.end|date:"H:i d.m.Y" }}</span></p>
{% if all_write_down.exists %}
    {% for write_down in all_write_down %}
        <div class="uk-section-small uk-padding-remove-top">
            <div class="uk-card uk-card-default uk-card-body">
                <span>{{ write_down.date|date:"d.m.Y" }} в {{ write_down.time|time:"H:i" }}</span>
                <p>{{ write_down.text }}</p>
                <ul class="uk-subnav uk-subnav-divider" uk-margin>
                    <li>
                        {% if write_down.is_write_out %}
                            <span>
                                                            <span class="uk-margin-small-right uk-text-success"
                                                                  uk-icon="check"></span>
                                                            Выписка
                                                        </span>
                        {% else %}
                            <a href="{% url 'journal:add/write-out' write_down.id %}">
                                <span class="uk-margin-small-right" uk-icon="plus"></span>
                                Выписка
                            </a>
                        {% endif %}
                    </li>
                    <li>
                        {% if write_down.is_extra_write_out %}
                            <span>
                                                            <span class="uk-margin-small-right uk-text-success"
                                                                  uk-icon="check"></span>
                                                            Доп. выписка
                                                        </span>
                        {% else %}
                            <a href="{% url 'journal:add/extra-write-out' write_down.id %}">
                                <span class="uk-margin-small-right" uk-icon="plus"></span>
                                Доп. выписка
                            </a>
                        {% endif %}
                    </li>
                    <li><a href="{% url 'journal:detail' write_down.id %}"><span
                            class="uk-margin-small-right" uk-icon="list"></span>Подробно</a>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>Нет записей</p>
{% endif %}