<div class="uk-section-xsmall uk-padding-remove-bottom">
    <div class="uk-alert-danger uk-margin-remove-bottom" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        {% if alert == 'write_down_no' %}
            <p>Такой записи нет. Выберите существующую запись и повторите попытку.</p>
        {% endif %}
        {% if alert == 'dytu_added' %}
            <p>Смена добавлена успешно.</p>
        {% endif %}
        {% if alert == 'write_out_is' %}
            <p>Выписка к записи уже существует. Отредактируйте сущствующую выписку</p>
        {% endif %}
        {% if alert == 'extra_write_out_is' %}
            <p>Дополнительная выписка к записи уже существует. Отредактируйте сущствующую дополнительную выписку</p>
        {% endif %}
    </div>
</div>
