{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Home page{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="wrapp">
    <div class="menu">
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'add/index' %}">Добавить</a></li>
        </ul>
    </div>
    {% block content %}
        <p>Записи за <strong>17.08.2018</strong>, деж.инж. <strong>Манжак Сергей Сергеевич.</strong></p>
    {% endblock %}
</body>
</html>