{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Домашняя страница{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="wrapp">
    <div class="menu">
        <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'journal:add/write-down' %}">Добавить запись</a></li>
            <li><a href="#">Архив</a></li>
            <li><a href="#">Настройки</a></li>
        </ul>
    </div>
    {% block content %}
        <p>Записи за <strong>{{ date|date:"d-m-Y" }}</strong>.</p> <p>Деж.инж. <strong>Манжак Сергей Сергеевич.</strong></p>
        {% if items.exists %}
            {% for item in items %}
            <div class="section">
                <span><strong>{{ item.date_created|date:"d.m.Y" }}</strong></span>
                <p> {{ item.write_down }}</p>
                <div class="write-donw-links">
                    <ul>
                        <li><a href="{% url 'journal:add/write-out' item.id %}">Выписка</a></li>
                        <li><a href="{% url 'journal:add/extra-write-out' item.id %}">Доп. выписка</a></li>
                        <li><a href="{% url 'journal:detail' item.id %}">Подробно</a></li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Нет записей</p>
        {% endif %}
    {% endblock %}
</body>
</html>